*{
    margin: 0;
}
body{
    margin: 0;     
    display: grid;
    grid-template-areas:     
    "cab cab cab"
    "pcp pcp pcp"
    "ftt ftt ftt";
    grid-template-columns: 1fr 2fr 2fr;  
}
.oqueeh{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(148, 79, 79);
    display: flex;
    position: absolute;
    top: 180px;
    left: 750px;
}

.principal{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(148, 79, 79);
    display: flex;
    position: absolute;
    top: 260px;
    margin-left: 200px;
    margin-right: 200px;
}
.coisas{
    color: rgb(255, 255, 255);
}
.teste{
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 120px;
    width: 120px;
}
header{
    grid-area: cab;
    height: 90px;
    background-color: rgb(226, 200, 165);
 
}
main{
    grid-area: pcp;
    height: 900px;
    background-color: rgb(255, 255, 255);
}
footer{
    grid-area: ftt;
    height: 500px;
    background-color: rgb(0, 0, 0);

}
