@font-face {
    font-family: buz1;
    src: url(fonte/Itim-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 2fr;
    background-color: #e4e4e4;
}

header {
    grid-area: header;
    position: relative;
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(#fdfdfd, #e4e4e4);
}

header section {
    width: 100%;
    height: 100%;
    display: flex;
}

#divlogo, #divperfil {
    width: 20%;
    height: 100%;
}

#divlogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#divlogo img {
    width: 15rem;
}

#divnav {
    width: 60%;
    height: 100%;
}

aside {
    grid-area: aside;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#e4e4e4, #fdfdfd, #fdfdfd, #fdfdfd, #fdfdfd);
}

#secnav{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.navbut{
    width: 80%;
    height: 3rem;
    background-color: #fdfdfd;
    border: 0.25rem solid #e4e4e4;
    border-radius: 5rem;
    color: #3a1c12;
    font-family: buz1;
    font-size: 1.5rem;
    transition: 0.5s;
    cursor: pointer;
}

.navbut:hover{
    filter: brightness(95%);
    border: 0.25rem solid #ffda33;
}

#secturmas{
    width: 100%;
    height: 75%;
}

#astitulo{
    text-align: center;
    color: #3a1c12;
    font-family: buz1;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#subsecturmas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.divtur{
    width: 90%;
    height: 4.5rem;
    background-color: #fdfdfd;
    border: 0.25rem solid #e4e4e4;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.divtur:hover{
    filter: brightness(95%);
    border: 0.25rem solid #ffda33;
}

main {
    grid-area: main;
    position: relative;
    width: 100%;
    height: 60rem;
    background-image: url(imagens/colmeianova.png);
    border-radius: 2rem 0 0 0;
}

#fundo{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#e4e4e4, transparent, transparent, transparent, transparent, transparent, #fdfdfd);
    display: flex;
    align-items: center;
    justify-content: center;
}

#secmain{
    width: 60%;
    height: 60%;
    background-color: #fdfdfd;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#divinput{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#div1{
    width: 90%;
    height: 3rem;
}

#div2{
    width: 90%;
    height: 9rem;
}

#inputnome{
    width: 100%;
    height: 100%;
    border: 0.2rem solid #e4e4e4;
    border-radius: 1rem;
    color: #3a1c12;
    font-family: buz1;
    font-size: 2rem;
}

#inputdesc{
    width: 100%;
    height: 100%;
    border: 0.2rem solid #e4e4e4;
    border-radius: 1rem;
    color: #3a1c12;
    font-family: buz1;
    font-size: 2rem;
}

input:focus{
    outline: 0.2rem solid #ffda33;
}

#divconc{
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#butvolt{
    width: 40%;
    height: 5rem;
    border: 0.25rem solid #e4e4e4;
    border-radius: 2rem;
    background-color: #fdfdfd;
    color: #3a1c12;
    font-family: buz1;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s;
}

#butconc{
    width: 40%;
    height: 5rem;
    border: 0.25rem solid #ffda33;
    border-radius: 2rem;
    background-color: #ffda33;
    color: #3a1c12;
    font-family: buz1;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s;
}

#divconc button:hover{
    filter: brightness(95%);
}

footer {
    grid-area: footer;
    position: relative;
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(#fdfdfd, #e4e4e4);
}

#secfooter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

#secfooter div{
    width: 30%;
    height: 100%;
}

.divfot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.divfot img{
    height: 8rem;
}