* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    grid-area: header;
    position: relative;
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(#fdfdfd, #e4e4e4);
}
main{
    grid-area: main;
    position: relative;
    width: 100%;
    height: 60rem;
    background-image: url(imagens/colmeianova.png);
}
footer{
    height: 10rem;
    background-image: linear-gradient(#e4e4e4 ,#fdfdfd);
}
#perfil{
    margin-left: 5rem;
    margin-bottom: 55rem;
    display: inline-block;
}
#imgicon{
    height: 17rem;
    margin-left: 15rem;
    margin-top: 6rem;
}
#nome{
    margin: 1rem;
    border: 3px solid #000000;
    border-radius: 2rem;
    width: 25rem;
    height: 4rem;
}
#id{
    margin: 1rem;
    border: 3px solid #000000;
    border-radius: 2rem;
    width: 25rem;
    height: 4rem;
}
#email{
    margin: 1rem;
    border: 3px solid #000000;
    border-radius: 2rem;
    width: 25rem;
    height: 4rem;
}
#senha{
    margin: 1rem;
    border: 3px solid #000000;
    border-radius: 2rem;
    width: 25rem;
    height: 4rem;
}
#bio{
    margin: 1rem;
    border: 3px solid #000000;
    border-radius: 2rem;
    width: 52rem;
    height: 16rem;
}


