@font-face {
    font-family: CarvingSoft;
    src: url(fontes/MADECarvingSoftPERSONALUSE-SemiBold.otf);
}
*{
    margin: 0;
}
body{
    font-family: CarvingSoft;
}
header{
    background-color: #b6285e;
}
main{
    text-align: center;
    background-color: #ff669e;
}
.main1{
    padding: 25px;
}
footer{
    background-color: #b6285e;
}
input{
    width: 200px;
    padding: 15px;
    border: none;
    font-size: 15px;
}
button{
    background-color: white;
    border: none;
    padding: 15px;
    width: 225px;
    border-radius: 5px;
    font-size: 15px;
}
button:hover{
    cursor: pointer;
    transition: 0.25s;
    background-color: #b6285e;
}
.redbtn{
    width: 200px;
    padding: 20px;
}
.redbtn:hover{
    filter: grayscale(50%);
    transform: scale(0.95);
}
img{
    width: 400px;
}
.rchrd_prc{
    width: 200px;
}

.box_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border: 5px dotted rgb(125, 0, 136);
    padding: 10px;
    background-color: #ff86b6;
    margin: 20px;
    width: 600px;
    height: 600px;
    text-align: center;
}

p{
    color: white;
}

h1{
    color: rgb(150, 0, 0);
}

.tlte{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
}

#tab{
    margin-left: 50%;
    transform: translate(-50%);
}
tr{
    color: white;
    background-color: #b6285e;
}